body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

/* MAIN BOX */
.container {
    margin-top: 30px;
    background: white;
    padding: 25px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0px 0px 15px gray;
}

/* IMAGE ROW CONTAINER */
.image-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* SMALL PHOTOS */
.image-box img {
    width: 120px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

/* HOVER EFFECT */
.image-box img:hover {
    transform: scale(1.1);
}

/* INPUT BOX */
input {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

/* BUTTON */
button {
    padding: 10px;
    width: 95%;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #1e7e34;
}

/* RESULT TEXT */
h2 {
    color: darkblue;
}
